.app_green_theme {
    --bg-color: #e8e8ea;
    --invert-bg-color: #2d4628;
    --primary-color: #e83100;
    --secondary-color: #ff6933;
    --invert-primary-color: #ffa570;
    --invert-secondary-color: #fad074;
}
