.app_green_theme {
    --bg-color: #e8e8ea;
    --invert-bg-color: #2D4628;
    --primary-color: #E83100;
    --secondary-color: #FF6933;
    --invert-primary-color: #FFA570;
    --invert-secondary-color: #FAD074;
}
