.profilecard {
    padding: 20px;
    border: 2px solid var(--invert-bg-color);
}

.header {
    display: flex;
}

.editButton {
    margin-left: auto;
}

.loading,
.error {
    height: 300px;
}

.editing {
    border: 2px solid var(--invert-primary-color);
}
